<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>SIGEP</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body class="d-flex flex-column" style="min-height: 100vh;">

	<!-- Navbar -->
	<header th:insert="~{fragments/menu.html :: menu-profe}" sec:authorize="hasRole('P')">
	</header>
	<header th:insert="~{fragments/menuAlumno.html :: menu-alumno}"
		sec:authorize="hasRole('E')"></header>

	<!-- Contenido principal -->
	<div class="container mt-5 flex-grow-1">
		<h2>Nuevo Mensaje</h2>

		<form th:object="${mensaje}" th:action="@{/mensaje/enviar}" method="post">
			<!-- Receptor -->
			<div class="form-group" sec:authorize="hasRole('P')">
				<label for="receptor">Receptor</label>
				<select class="form-control" id="receptor" th:field="*{receptor.id}" >
					<option value=-1  selected>Todos</option>
					<option th:each="persona : ${receptores}" th:value="${persona.id}"
						th:text="${persona.nombre + ' ' + persona.apellidos}">
					</option>
				</select>
			</div>


			<!-- Asunto -->
			<div class="form-group">
				<label for="asunto">Asunto</label>
				<input type="text" class="form-control" id="asunto" th:field="*{asunto}"
					placeholder="Introduce el asunto">
			</div>

			<!-- Texto -->
			<div class="form-group">
				<label for="texto">Texto</label>
				<textarea class="form-control" id="texto" rows="5" th:field="*{texto}"
					placeholder="Escribe tu mensaje"></textarea>
			</div>

			<div class="d-flex justify-content-between mt-3">
				<a th:href="@{/mensaje/mensajes}" class="btn btn-secondary">Volver</a>
			  <button type="submit" class="btn btn-primary">Enviar</button>
			</div>
		</form>
	</div>

	<!-- Footer -->
	<footer th:insert="~{fragments/footer.html :: footer}" class="bg-dark text-white py-4 mt-5"
		sec:authorize="hasRole('P')"></footer>
	<footer th:insert="~{fragments/footerAlumno.html :: footer-alumno}" class="bg-dark text-white py-4 mt-5"
		sec:authorize="hasRole('E')"></footer>

	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<!-- Popper.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</body>

</html>