<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="menu-profe">
  <div class="container-fluid">
	<a class="navbar-brand h2 text-uppercase font-weight-bold" th:href="@{/}">S.I.G.E.P.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/alumnos}">Lista Alumnos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/practicas}">Datos Prácticas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/tablon}">Tablón de Anuncios</a>
        </li>
      </ul>
    </div>
  </div>
</nav>