<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="menu-blanco">
	<div class="container-fluid">
		<a class="navbar-brand text-uppercase font-weight-bold" th:href="@{/}">S.I.G.E.P.</a>

		<div class="collapse navbar-collapse" id="navbarNav">

		</div>

		<div class="ms-auto">
			<a class="btn btn-outline-light" th:href="@{/login}" sec:authorize="isAnonymous()">Iniciar sesión</a>
			<a class="btn btn-outline-light" th:href="@{/registrar}" sec:authorize="isAnonymous()">Registrar</a>
		</div>

	</div>
</nav>