<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>SIGEP</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body class="d-flex flex-column" style="min-height: 100vh;">  
	<!--Menu-->
	<header th:insert="~{fragments/menu.html :: menu-profe}"></header>

	<!-- Contenido principal -->
  <div class="container mt-5 flex-grow-1">
		<div class="row">
			<div class="col-12">
				<h2>Listado de Prácticas</h2>
				<div class="list-group">
					<a th:each="practica : ${practicas}" th:href="@{/practica/detalle/{id}(id=${practica.id})}"
						class="list-group-item list-group-item-action">

						<div class="d-flex justify-content-between align-items-center">
							<div>
								<!-- Nombre del alumno -->
								<strong th:text="${practica.alumno.nombre + ' ' + practica.alumno.apellidos}">Nombre
									Alumno</strong><br>

								<!-- Tutor -->
								<small
									th:text="'Tutor: ' + ${practica.tutor.nombre + ' ' + practica.tutor.apellidos}"></small><br>

								<!-- Centro y Empresa -->
								<small th:text="'Centro: ' + ${practica.centro.nombre}"></small><br>
								<small th:text="'Empresa: ' + ${practica.empresa.nombre}"></small>
							</div>

							<div class="text-right">
								<!-- Fechas -->
								<span
									th:text="${#temporals.format(practica.inicio, 'dd/MM/yyyy')} + ' - ' + ${#temporals.format(practica.fin, 'dd/MM/yyyy')}"></span><br>
								<!-- Duración -->
								<span class="badge badge-primary"
									th:text="'Duración: ' + ${practica.duracion} + 'h'"></span>
							</div>
						</div>

					</a>
				</div>
			</div>
		</div>
	</div>


	<!-- Footer -->
	<footer th:insert="~{fragments/footer.html :: footer}" class="bg-dark text-white py-4 mt-5"></footer>


	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<!-- Popper.js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</body>

</html>